{% extends listboard_base_template %}

{% load edc_base_extras %}
<!-- Dashboard extras -->
{% load edc_dashboard_extras %}
{% load edc_senaite_interface_extras %}
{% load static %}

{% block extra-css %}
	{{ block.super }}
	<link href="{% static 'edc_senaite_interface/css/listboard.css' %}"rel=stylesheet>
	<link href="{% static 'edc_senaite_interface/css/bootstrap/bootstrap-table.min.css' %}"rel=stylesheet>
{% endblock extra-css %}


{% block extra-scripts %}
	{{ block.super }}
	<script src="{% static 'edc_senaite_interface/js/bootstrap/bootstrap-table.min.js' %}"></script>
	<script src="{% static 'edc_senaite_interface/js/bootstrap/bootstrap-table-filter-control.min.js' %}"></script>
	<script type="text/javascript">
		function openModal(pdfUrl) {
			console.log(pdfUrl);
			$('#pdfModal').modal('show');
		    $('#pdfEmbed').attr('src', pdfUrl);
		}
		$(function() {
			const data = [];
			{% for obj in results %}
				var action_button = "";
				if ("{{obj.sample_status}}" === 'resulted') {
					var action_button = "<div class='btn btn-group btn-group-sm'>" +
										"<a class='btn btn-outline-secondary' onclick=openModal('{{ obj.result_pdf_link }}')>"+
										"<i class='fa fa-eye'></i> View Results </a></div>";
				} else if ("{{obj.sample_status}}" === 'stored') {
					var action_button = "<div class='btn btn-group btn-group-sm'>" +
										"<a href={{ obj.storage_location }} class='btn btn-outline-secondary'>"+
										"<i class='fa fa-eye'></i> View in Storage </a></div>";
				}
				data.push({	'id': "{{obj.id}}",
							'sample_id': "{{obj.sample_id}}",
							'participant_id': "<a href='{% url obj.dashboard_url obj.participant_id %}'> {{obj.participant_id}} </a>",
							'sample_type': "{{obj.specimen_type}}",
							'sample_status': "{{obj.sample_status}}",
							'date_stored': "{{obj.date_stored}}",
							'is_partition': "{{obj.is_partition}}",
							'parent_id': "{{obj.parent_id}}",
							'requisition_id': "{{obj.requisition_id}}",
							'view_results':  action_button });
			{% endfor %}
			
			$('#resultTable').bootstrapTable({data: data});
		});
    </script>
{% endblock %}

{% block main %}
<div class='overlay hide-loader' id='loader'>
    <div class='overlay__inner'>
        <div class='overlay__content'>
        	<span class='spinner'></span>
        </div>
    </div>
</div>
<!-- start listboard main block-->
<!-- Modal -->
<div id="pdfModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
	      	<div class="modal-body">
	        	<embed id="pdfEmbed" width="100%" height="600" type="application/pdf">
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      	</div>
	    </div>
  	</div>
</div>

<!-- Header Cards -->
{% block header_cards %}
	<div class="row">
		<div class="col-md-4 col-xl-3">
		    <div class="card bg-c-blue order-card">
		        <div class="card-block">
		            <h6 class="m-b-20">Pending Samples</h6>
		            <h2 class="text-right"><i class="fa fa-hourglass-half f-left"></i><span>{{pending}}</span></h2>
		            <p class="m-b-0">Collected Samples<span class="f-right">{{collected}}</span></p>
		        </div>
		    </div>
		</div>
	
		<div class="col-md-4 col-xl-3">
		    <div class="card bg-c-green order-card">
		        <div class="card-block">
		            <h6 class="m-b-20">Resulted Samples</h6>
		            <h2 class="text-right"><i class="fa fa-flask f-left"></i><span>{{resulted|length}}</span></h2>
		            <p class="m-b-0">Collected Samples<span class="f-right">{{collected}}</span></p>
		        </div>
		    </div>
		</div>
		
		<div class="col-md-4 col-xl-3">
		    <div class="card bg-c-yellow order-card">
		        <div class="card-block">
		            <h6 class="m-b-20">Stored Samples</h6>
		            <h2 class="text-right"><i class="fa fa-archive f-left"></i><span>{{stored|length}}</span></h2>
		            <p class="m-b-0">Collected Samples<span class="f-right">{{collected}}</span></p>
		        </div>
		    </div>
		</div>
	</div>
{% endblock %}

{% if listboard_view_filters %}
		<ul class="nav nav-pills well" id='filters'>
			<li style="padding: 2px 4px; border: 1px solid lightgray; background-color: #fff; color: lightgray">
				<i class="fa fa-filter f-center"></i>
			</li>
		    {% for listboard_filter in listboard_view_filters %}
			    <li class="{% if f == listboard_filter.name or e == listboard_filter.name %} active {% endif %}">
			    	<a href="{% url listboard_filter_url %}?{{ listboard_filter.querystring }}">
			    		{{ listboard_filter.label }}{% if f == listboard_filter.name or e == listboard_filter.name %}&nbsp;<i class="fa fa-check fa-fw"></i>{% endif %}
			    	</a>
			    </li>
		    {% endfor %}
	  	</ul>
 {% endif %}
<div id="toolbar">
	{% block listboard_search_form %}
		{% include 'edc_senaite_interface/search_form.html' %}
	{% endblock listboard_search_form %}
	<span>&nbsp;</span>
	{% block listboard_export %}
		{% include 'edc_senaite_interface/buttons/export_button.html' %}
	{% endblock listboard_export %}
	<span>&nbsp;</span>
	<span>&nbsp;</span>
</div>

<!-- begin table -->

	<table 	id="resultTable"
			class="table table-hover table-striped small"
			data-toolbar="#toolbar"
			data-toolbar-align="right"
			data-show-columns="true"
			data-show-refresh="true"
  			data-show-columns-toggle-all="true"
  			data-page-size="10">
		<thead style="background-color:#F3F3F3">
			<tr>
				{% block listboard_table_header %}
				     <!-- begin results header -->
				    <th data-field='sample_id' data-sortable='true' data-width="200" data-align="center">Sample ID</th>
				    <th data-field='participant_id' data-sortable='true'  data-width="200" data-align="center">Participant ID</th>
				    <th data-field='sample_type' data-sortable='true'  data-width="200" data-align="center">Sample Type</th>
				    <th data-field='sample_status' data-sortable='true' data-width="100" data-align="center">Sample State</th>
				    <th data-field='date_stored' data-sortable='true' data-align="center">Date Stored</th>
				    <th data-field='is_partition' data-sortable='true' data-width="100" data-align="center">Primary Sample</th>
				    <th data-field='parent_id' data-sortable='true' data-align="center">Parent ID</th>
				    <th data-field='requisition_id' data-sortable='true' data-align="center">Requisition ID</th>
				    <th data-field='view_results' data-align="right"></th>
				    <!-- end results header -->
				{% endblock listboard_table_header %}
			</tr>
		</thead>
	</table>

{% if results|length > 0 %}
	{% paginator_row %}
{% endif %}
<!-- end listboard main block -->
{% endblock main %}
